.home {
  height: 100%;

  &__image-wrapper {
    position: relative;
    height: 100%;
  }

  &__loop-image {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 70vh;

    @include larger-than(mobile) {
      height: 100vh;
      top: 0;
    }

    &--active {
      z-index: 12;
    }
  }

  &__fade-image {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 70vh;

    @include larger-than(mobile) {
      height: 100vh;
      top: 0;
    }
  }

  &__actions-wrapper {
    @include absolute-center--horizontal;
    bottom: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
    z-index: 15;
    animation-name: enterButtonAnimation;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-fill-mode: forwards;

    &--mobile {
      animation-duration: 1s;
      animation-delay: 0s;
    }
  }

  &__actions-button {
    font-family: $grotesque-bold;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    border: 1px solid transparent;
  }
  //BUTTON LINE ANIMATION
  .top,
  .bottom,
  .left,
  .right {
    position: absolute;
    -webkit-animation: 1.5s linear ;
            animation: 1.5s linear ;
  }
  .top {
    top: -1px;
    left: -1px;
    height: 1px;
    -webkit-animation-name: top;
            animation-name: top;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes top {
    40% {
      width: 0;
      background: #f3f3f3;
    }
    60% {
      width: calc(102%);
      background: #f3f3f3;
    }
    100% {
      width: calc(102%);
      background: #f3f3f3;
    }
  }

  .bottom {
    bottom: 0px;
    right: -1px;
    height: 1px;
    -webkit-animation-name: bottom;
            animation-name: bottom;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes bottom {
    0% {
      width: 0;
      background: #f3f3f3;
    }
    20% {
      width: calc(102%);
      background: #f3f3f3;
    }
    100% {
      width: calc(102%);
      background: #f3f3f3;
    }
  }

  .left {
    bottom: -1px;
    left: -1px;
    width: 1px;
    -webkit-animation-name: left;
            animation-name: left;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes left {
    20% {
      height: 0;
      background: #f3f3f3;
    }
    40% {
      height: calc(102%);
      background: #f3f3f3;
    }
    100% {
      height: calc(102%);
      background: #f3f3f3;
    }
  }

  .right {
    top: -1px;
    right: -1px;
    width: 1px;
    -webkit-animation-name: right;
            animation-name: right;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes right {
    60% {
      height: 0;
      background: #f3f3f3;
    }
    80% {
      height: calc(102%);
      background: #f3f3f3;
    }
    100% {
      height: calc(102%);
      background: #f3f3f3;
    }
  }
  //BUTTON LINE ANIMATION

}


@keyframes enterButtonAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
