.page-section {
  &.section-text-container {
    margin-bottom: $buffer*2;
    .page-text {
      .text-area {
        font-size: $base-font-size*1.5;
        line-height: $base-line-height*1.5;
      }
    }
  }
}
