.page-section {
  &.section-image-container {
    .page-image {
      .image-wrapper {
        .image-source {
          max-width: 100%;
          max-height: 100vh;
        }
      }
      &.image-center {
        .image-wrapper {
          display: flex;
          justify-content: flex-end;
          .image-source {
            max-height: 100%;
            width: 100%;
          }
        }
      }
      &.image-left {
        .image-wrapper {
          display: flex;
          justify-content: flex-start;
          .image-source {}
        }
      }
      &.image-right {
        .image-wrapper {
          display: flex;
          justify-content: flex-end;
          .image-source {}
        }
      }
    }
    .image-caption {
      .caption-header {
        font-family: $grotesque-bold;
        text-transform: uppercase;
      }
      .caption-text {
        font-family: $grotesque-regular;
      }
    }
  }
}
