.promo-banner {
  width: 100%;
  height: 50px;
  background: $bgColorDark;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .promo-banner__content {
    .promo-banner__statement {
      text-align: center;
      font-family: $grotesque-regular;
      font-size: 20px;
    }
  }
}
