@font-face {
  font-family: 'BrandonGrotesque-Black';
  src: url('../fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.eot');
  src: url('../fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.woff') format('woff'),
    url('../fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.eot');
  src: url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.woff') format('woff'),
    url('../fonts/BrandonGrotesque-Bold/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot');
  src: url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.woff') format('woff'),
    url('../fonts/BrandonGrotesque-Medium/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.eot');
  src: url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff') format('woff'),
    url('../fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}