@font-face {
  font-family: 'Spectral-Medium';
  src: url('../fonts/Spectral-Medium/Spectral-Medium.eot');
  src: url('../fonts/Spectral-Medium/Spectral-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Spectral-Medium/Spectral-Medium.woff') format('woff'),
    url('../fonts/Spectral-Medium/Spectral-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
