// Defaults

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100% !important;
  overflow: hidden;
}

body {
  color: $main-text;
  font-family: 'Helvetica', serif;
  background-color: $main-background;
  user-select: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}
