// Variables
$bgColorDark: #22222a;

// Fonts
$grotesque-black: 'BrandonGrotesque-Black';
$grotesque-bold: 'BrandonGrotesque-Bold';
// $grotesque-medium: 'BrandonGrotesque-Medium'; // removed
$grotesque-regular: 'BrandonGrotesque-Regular';
// $europa: 'Europa-Regular'; // removed
$spectral: 'Spectral-Medium';

$base-font-size: 16px;
$base-line-height: 18px;

// Borders
$border-radius: 3px;


// Z-Index
$zindex-header: 150;
$zindex-menu: 100;

//margins

$buffer: 10px;
