// Variables

// Fonts
$grotesque-black: 'BrandonGrotesque-Black';
$grotesque-bold: 'BrandonGrotesque-Bold';
// $grotesque-medium: 'BrandonGrotesque-Medium'; // removed
$grotesque-regular: 'BrandonGrotesque-Regular';
// $europa: 'Europa-Regular'; // removed
$spectral: 'Spectral-Medium';

$base-font-size: 16;

// Borders
$border-radius: 3px;


// Z-Index
$zindex-header: 150;
$zindex-menu: 100;