.content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  zoom: .75 !important;

  &--center {
    align-items: center;
  }

  &--full-center {
    @include absolute-center;
  }
}
